<div class="quiz-container">
  <nav class="quiz-nav">
    <button [routerLink]="['/']" class="quiz-back-button">
      <span class="brand-title">
        <span class="brand-divider"> &larr; </span>kiki<span class="brand-divider"> or </span>bouba
      </span>
    </button>
    <span class="quiz-progress-text">
      {{ current() + 1 }} <span class="quiz-progress-total">/ {{ questions?.length }}</span>
    </span>
  </nav>

  <!-- Progress bar -->
  <div class="progress-bar-track">
    <div className="progress-bar-fill" [style.width.%]="progress"></div>
  </div>

  <!-- Question -->
  <main class="quiz-main">
    <!-- Pagination Dots -->
    <div class="quiz-dots">
      @for (q of questions; track $index) {
      <div class="quiz-dot" [class.is-completed]="$index < current()" [class.is-active]="$index === current()"></div>
      }
    </div>

    <!-- Question text -->
    <h2 class="quiz-question">
      @if (!is_ready()) {
      Loading.. Please Wait
      } @else {
      {{ currentQuestion?.question }}
      }
    </h2>

    <!-- Options -->
    <div class="quiz-options">
      <!-- Kiki Option -->
      <button (click)="choose('kiki')" [disabled]="!!selected" class="option-button option-button--kiki"
        [class.is-selected]="selected === 'kiki'" [class.is-dimmed]="selected && selected !== 'kiki'">
        <div class="option-card">
          <div class="option-text-wrapper">
            <app-kiki-shape [size]="24" color="#E5311C" class="option-icon"></app-kiki-shape>
            @if (is_ready()) {
              <p class="option-text">{{ currentQuestion?.kiki_answer }}</p>
            }
          </div>
        </div>
      </button>

      <!-- Bouba Option -->
      <button (click)="choose('bouba')" [disabled]="!!selected" class="option-button option-button--bouba"
        [class.is-selected]="selected === 'bouba'" [class.is-dimmed]="selected && selected !== 'bouba'">
        <div class="option-card">
          <div class="option-text-wrapper">
            <app-bouba-shape [size]="24" color="#7C3AED" class="option-icon"></app-bouba-shape>
            @if(is_ready()) {
              <p class="option-text">{{ currentQuestion?.bouba_answer }}</p>
            }
          </div>
        </div>
      </button>
    </div>

    <p class="quiz-footer-hint">Click an option to continue</p>
  </main>
</div>
